<router-outlet>
  <!-- Background color split screen for large screens -->
<div class="fixed top-0 left-0 w-1/2 h-full bg-white" aria-hidden="true"></div>
<div class="fixed top-0 right-0 w-1/2 h-full bg-gray-50" aria-hidden="true"></div>
<div class="relative min-h-screen flex flex-col overflow-hidden">
  <!-- Navbar -->
  <!-- <app-navbar></app-navbar> -->
  <!-- 3 column wrapper -->
  <div class="flex-grow w-full max-w-7xl mx-auto xl:px-8 lg:flex">
    <!-- Left sidebar & main wrapper -->
    <div class="flex-1 min-w-0 bg-white xl:flex">
      <!-- Account profile -->
      <app-header class="lg:border-r lg:border-gray-200"></app-header>
      <!-- Projects List -->
      <div class="bg-white lg:min-w-0 lg:flex-1">
        <app-task-header></app-task-header>
        <app-tasks></app-tasks>
      </div>
    </div>
    <!-- Activity feed -->
    <app-recent-activity class="lg:border-l lg:border-gray-200"></app-recent-activity>
  </div>
</div>
</router-outlet>