<!-- Create task -->
<div *ngIf="showAddTask"
  class="flex flex-col space-y-6 sm:space-y-0 sm:space-x-8 xl:flex-col xl:space-x-0 xl:space-y-6 p-5">
  <app-task-error-alert *ngIf="titleHasError"></app-task-error-alert>
  <form class="space-y-3" (ngSubmit)="onSubmit()">
    <div>
      <label for="title" class="block text-sm font-medium text-gray-700">Task title</label>
      <div class="mt-1">
        <input type="text" name="title" [(ngModel)]="title" id="title"
          class="shadow-sm focus:ring-pink-500 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md"
          placeholder="Task title">
      </div>
    </div>
    <div>
      <label for="day" class="block text-sm font-medium text-gray-700">Deadline Date & time</label>
      <div class="mt-1">
        <input type="datetime-local" name="day" [(ngModel)]="deadlineDate" id="day"
          class="shadow-sm focus:ring-pink-500 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md"
          placeholder="Date & time">
      </div>
    </div>
    <div class="flex items-center">
      <input id="completed" name="completed" [(ngModel)]="completed" type="checkbox"
        class="h-4 w-4 text-pink-600 focus:ring-pink-500 border-gray-300 rounded">
      <label for="completed" class="ml-2 block text-sm text-gray-900">
        Task completed
      </label>
    </div>
    <div>
      <button type="submit"
        class="w-full text-center table-cell align-middle items-center px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
        Save new task
      </button>
    </div>
  </form>
</div>